body{
    background: white;
}

.card{
    width: 33rem;
    
}


.points{
    list-style:disc;
   text-align: left;
   font-size: 13px;
   padding-left: 1rem;

}

.card-title{
    font-size: 20px;
    text-align: left;
    padding-left: 1rem;
}

.cardnew{
    font-size: 15px;
    text-align: left;
    padding-left: 1rem;
}

.bmw-text{
    font-size: 20px;
    font-weight: bold;
}
.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(red, green, blue, 0.253)!important;
    
}

.card-body{
    padding: 3rem 0;
    
    
}

.card-text{
    font-size: 0.9rem;
    padding: 0.4rem 1.9rem;
}

.container-fluid{
    padding-top: 10rem;

}

.overflow{
    overflow:hidden;
}
.card-img-top{
    transform: scale(1);
    transition: transform 0.5s ease;
}

.card-img-top:hover{
    transform: scale(1.1);
}